doctype html
html
	head
		title #{title} - My Site
		link(rel="stylesheet", href="/stylesheets/styles.css")
	body
		header
			h1 My Site
		.container
			.main-content
				block content
		footer
			p Running on node with Epxress, Jade and Stylus